body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 100px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    background-color: #00c6ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0072ff;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}
